@model IEnumerable<DCC_Parish_Capstone.Models.Language>
@{
    ViewBag.Title = "Index";
}

<div id="lanBPTabs" class="container">
    <h1 class="mt-1 mb-3  font-weight-bold">Articles By Language: </h1>
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header"> <h4>@Html.DisplayFor(modelitem => item.Name)</h4></div>
                    <div class="card-body">
                        <a href="@Url.Action("ArticlesByLanguage", "Articles", new { LangId = @Html.DisplayFor(modelitem => item.Id) })" class="btn btn-outline-light float-right">View Articles &nbsp; <i class="fas fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
     
</div>
