@{
    ViewBag.Title = "Home Page";
}

<div id="homeJumbotron" class="jumbotron mt-4">
    <div id="innerJumbotron" class="p-3">
        <h1>Best Practice Wiki</h1>
        <p class="lead">Web App, for view best practices for coding.</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn btn-outline-light btn-lg" href="@Url.Action("Register", "Account")">Register &nbsp;<i class="fas fa-user-plus"></i></a>
        }
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4">

        <div class="card bg-primary text-white">
            <div class="card-header text-center">
                <h3>View Top Upvoted Articles</h3>
            </div>
            <div class="card-body text-center"> 
                <p class="card-text py-4">View the top articles that the community has deemed some of the best!</p>
                
            </div>
            <div class="card-footer text-muted text-right">
                <a href="@Url.Action("TopArticles","Articles")" class="btn btn-outline-light">View Articles <i class="fas fa-chevron-circle-right"></i></a>
            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="card bg-primary text-white">
            <div class="card-header text-center">
                <h3>Easily Find Articles To View</h3>
            </div>
            <div class="card-body text-center">
                <p class="card-text py-4">Find articles easily, by having the ability to view article by language / best practice.</p>

            </div>
            <div class="card-footer text-muted text-right">
                <a href="@Url.Action("IndexWithBestPractices","Languages")" class="btn btn-outline-light">View Articles <i class="fas fa-chevron-circle-right"></i></a>
            </div>
        </div> 
    </div>
    <div class="col-md-4">

        <div class="card bg-primary text-white">
            <div class="card-header text-center">
                <h3>Gain Ranks By Participating</h3>
            </div>
            <div class="card-body text-center"> 
                <p class="card-text">Whether it's by: writing a comment or article, subscribing to a topic you like, earning badges and even upvoting articles; earn points to boost your rank.</p>

            </div>
            <div class="card-footer text-muted  text-right">
                <a href="@Url.Action("Index","Articles")" class="btn btn-outline-light">View Articles <i class="fas fa-chevron-circle-right"></i></a>
            </div>
        </div>
          
    </div>
</div>