#lanBPTabs .tab-content {
    border: 1px solid #dee2e6 !important;
}
.sp-v-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(41.5%);
    -ms-transform: translateY(41.5%);
    transform: translateY(41.5%);
}
.sp-v-align2 {
    display: flex;
    align-items: center;
}
.text-bold {
    font-weight: bold;
}
.text-size-95 {
    font-size: 95% !important;
}
.text-size-90 {
    font-size: 90% !important;
}
.text-size-85 {
    font-size: 85% !important;
}
#homeJumbotron {
    background-image: url('Img/blkwhiteComputer.jpg');
    background-size: cover; 
}

#innerJumbotron {
    background: rgba(235,104,100, 0.85);
    border-radius: 5px;
    color: white;
}

.curveGreyBorder {
    border: 1px solid #dee2e6 !important;
    border-radius: .25rem;
    padding: .75rem;
}
.goldCurveBorder {
    border: 1.35px solid rgba(255,215,0, 0.85) !important;
    border-radius: .75rem;
    padding: .75rem;
}
.card-footer{
    background-color: transparent !important;
}
.downVotedArticle {
    color: rgba(222,226,230, 0.85) !important;
    border: 1.35px solid rgba(222,226,230, 0.85) !important;
    background-color: white !important;
}
.downVotedArticle *{
    color: rgba(222,226,230, 0.85) !important; 
}

.downVotedArticle .btn-outline-primary {
    border-color: rgba(222,226,230, 0.85) !important;
}

.card hr {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}
